@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);



.no-space{
	padding: 0;
	overflow: hidden;
}

img{
	width: 100%;
	height: 100%;
}


body{
	font-family: 'Ubuntu Condensed', sans-serif;
}

/*Navigation*/
.navbar-default {
  background-color: transparent;
  border: none;
}


/*Social*/
.social{
  display: block;
  border-bottom: 1px solid #31333A;
  overflow: hidden;
  padding-bottom: 5px;
}

.social a{
	float: left;
}

.social .fa-facebook:hover{
	color: #3b5998;
	-webkit-transition:.5s;
	-moz-transition:.5s;
}

.social .fa-twitter:hover{
	color: #0084b4;
	-webkit-transition:.5s;
	-moz-transition:.5s;
}

.social .fa-google-plus:hover{
	color: #d34836;
	-webkit-transition:.5s;
	-moz-transition:.5s;
}

.social .fa-youtube:hover{
	color: #e52d27;
	-webkit-transition:.5s;
	-moz-transition:.5s;
}

/*Brand*/
.brand{
	position: absolute;
	width: 100%;
  z-index: 999;
  margin-top: .75em;
  display: block;
  float: right;
  font-size: 2em;
}

.brand a{
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
}

/*Section Full*/
.section_full {
  background: url("https://images.unsplash.com/photo-1462819067004-905a72ea3996?format=auto&auto=compress&dpr=1&crop=entropy&fit=crop&w=1366&h=912&q=80") no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.section_full .container{
  text-align: center;
}
.section_full .container h1{
	font-size: 7em;
	font-weight: 100;
	letter-spacing: 8px;
	font-family: 'Ubuntu Condensed', sans-serif;
	margin-top: 19%;
}




/*Two Column*/

.two_column{
}


/*Left Column*/
.two_column .left_column .inner{
  padding: 5em;
  background-color: #fff;
  text-align: center;
}

.two_column .left_column{
	background: #ddd;
	min-height: 100vh;
	padding: 5em;
}

.two_column .left_column h1{
  margin-top: 2em;
}

.two_column .left_column img{
  width: 30%;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.two_column .left_column img:hover{
  -webkit-filter: none;
  filter: none;
}


/*Right Column*/
.two_column .right_column{
  background: #151F27;
  min-height: 100vh;
}

.two_column .right_column .right_column_top{
  min-height: 312px;
  padding: 5em 3em;
}

.two_column .right_column .right_column_bottom{
  min-height: 312px; 
  background-color: #fff;
  padding: 5em 3em;
  transform: rotate(5deg);
}

.two_column .right_column .right_column_bottom .inner{
  transform: rotate(-5deg);
  overflow: hidden
}

.two_column .right_column .right_column_bottom .single{
  position: relative;
  z-index: 5;
}

.two_column .right_column .right_column_bottom:before{

}

.two_column .right_column .right_column_bottom:after{
  position: absolute;
  background: #fff;
  width: 100%;
  height: 51px;
  z-index: -0;
  bottom: -25px;
  transform: rotate(-5deg);
  left: 0;
}





/*Full Text*/
.full_text{
  padding: 5em;
  min-height: 100vh;
}

.full_text .inner{
  padding: 4em;
  border: 1px solid #eee;
}

.full_text h1{
  font-size: 4em;
  margin: 0px 0px 30px 0px;
}

.full_text h4{
  text-align: center;
  margin-bottom: 1em;
  margin-top: 3em;
}

.full_text .inner ul{
  list-style: none;
  padding-left: 20px;
}

.full_text .inner ul li{
  width: 50%;
  float: left;
  display: block;
  margin-bottom: 1em;
}

.full_text .inner li:before{
  font-family: 'FontAwesome';
  content: "\f192";
  margin:0 5px 0 -15px;
  color: #f00;
  list-style: none;
}


/*Works*/
.works{
	padding: 1em 0em 0em 0em;
	background-color: #3F51B5;
	min-height: 600px;
	position: relative;
}

.works h1{
	font-size: 4em;
	margin-bottom: 1.1em;
	padding-bottom: 20px;
  color: #fff;
}

.works h1:after{
	content: '';
  border-bottom: 1px solid #fff;
  width: 15%;
  position: absolute;
  left: 34%;
  right: 0;
  top: 20%;
}

.works h1:before{
	content: '';
  border-bottom: 1px solid #fff;
  width: 15%;
  position: absolute;
  left: 50%;
  right: 0;
  top: 20%;
}

.work img{
  display: block;
}


.location{
  padding: 1em 5em 1em 5em;
  height: 100vh;
  overflow: hidden;
  background-color: #F7F7F7;
}



/*Contact*/
.contact{
  padding: 5em;
  background-color: #F7F7F7;
  min-height: 585px;
}







/*Footer*/
.footer{
}

.foot_social a{
  text-decoration: none;
  float: left;
  padding: 5px 10px;
  margin-right: 5px;
}

.foot_social{
  background: #ddd;
  padding: 1em 5.5em;
  overflow: hidden;
}

.foot_social:before{
  content: '';
}

.foot_social:after{
  content: '';
  left: 70%;
  top: 0;
  border-top: 58px solid #fff;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 135px solid transparent;
  position: absolute;
}

.copyright{
  background: #3F51B5;
  padding: 1em 5.5em;
  text-align: center;
}

.copyright p{
  color: #fff;
  margin: 5px 0px 5px 0px;
}

.copyright:before{
  content: '';
  position: absolute;
  border-top: 58px solid #3F51B5;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 134px solid transparent;
  left: -134px;
  top: 0;
}

.copyright:after{
  content:'';
}



/*===============================
        Fancy Customization
================================*/


/*Typed Animation*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



/*Arrow*/
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  z-index: 500000;
}

.arrows path {
  stroke: #FFFFFF;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}




/*Fancy Image*/
.view {
    border: 1px solid #fff;
    text-align: center;
}
.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(3, 169, 244, 0.33);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}


.view-sixth img { 
  transition: all 0.4s ease-in-out 0.5s; 
}
.view-sixth .mask{ 
  background-color: rgba(3, 169, 244, 0.33);
  opacity:0;
  transition: all 0.3s ease-in 0.4s;
}
.view-sixth h2{
  opacity:0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(10);
    transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p { 
  opacity:0;
    transform: scale(10);
  transition: all 0.3s ease-in-out 0.2s;
}
.view-sixth a.info { 
  opacity:0;
    transform: translateY(100px);
  transition: all 0.3s ease-in-out 0.1s;
}

.view-sixth:hover .mask {  
  opacity:1; 
  transition-delay: 0s;
}                                      
.view-sixth:hover img { 
  transition-delay: 0s; 
}
.view-sixth:hover h2 { 
  opacity: 1;
    transform: scale(1);
  transition-delay: 0.1s;
}
.view-sixth:hover p { 
  opacity:1; 
    transform: scale(1);
  transition-delay: 0.2s;
}
.view-sixth:hover a.info { 
  opacity:1;
    transform: translateY(0px);
  transition-delay: 0.3s;
}



/*Map*/

#map_canvas{
  width: 100%;
  min-height: 475px;
}

.gmnoprint, .gm-bundled-control, .gm-bundled-control-on-bottom{
  /*display: none;*/
}



/*Button Styling*/

.btn{
  box-shadow: 1px 2px 3px #9E9E9E;
}

.c1:hover{
  background: #FF5722;
  -webkit-transition: .5s;
  -moz-transition:.5s;
  transition: .5s;
  color: #fff;
}




/*Scroll To Next Page*/
.scrollpix {
  display: none;
}

.scrollpix a,{
  text-decoration: none;
}
.scrollpix a:hover{
  text-decoration: none;
}


.scrollpixone{
  position: fixed;
  width: 10px;
  height: 10px;
  background: #F44336;
  top: 42%;
  z-index: 500;
  right: 3%;
  border-radius: 10px;
}

.scrollpixtwo{
  position: fixed;
  width: 10px;
  height: 10px;
  background: #F44336;
  top: 45%;
  z-index: 500;
  right: 3%;
  border-radius: 10px;
}

.scrollpixthree{
  position: fixed;
  width: 10px;
  height: 10px;
  background: #F44336;
  top: 48%;
  z-index: 500;
  right: 3%;
  border-radius: 10px;
}

.scrollpixfour{
  position: fixed;
  width: 10px;
  height: 10px;
  background: #F44336;
  top: 51%;
  z-index: 500;
  right: 3%;
  border-radius: 10px;
}

.scrollpixfive{
  position: fixed;
  width: 10px;
  height: 10px;
  background: #F44336;
  top: 54%;
  z-index: 500;
  right: 3%;
  border-radius: 10px;
}

.scrollpixsix{
  position: fixed;
  width: 10px;
  height: 10px;
  background: #F44336;
  top: 57%;
  z-index: 500;
  right: 3%;
  border-radius: 10px;
}